body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background-color: #caeeff;
  border-radius: 10px;
  padding: 2rem;
  max-width: 700px;
  width: 100%;
  position: relative;
}

.back-btn {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.msg-status {
  text-align: center;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;;
}

.erro {
  color: red;
}

.sucesso {
  color: green;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
}

.form-actions {
  display: block;
  
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-salvar {
  background-color: #0d1b4c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  width: 48%;
  max-width: 125px;
}

.btn-salvar:hover {
  background-color: #001164;
}

.btn-cancelar {
  background-color: #fafafa;
  color: #0d1b4c;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  width: 48%;
  max-width: 125px;
}

.btn-cancelar:hover {
  background-color: #ffffff;
}

.logo-taskflow {
  text-align: right;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.logo-taskflow .logo {
  font-weight: bold;
}

.upload-btn {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 32px;
    text-align: center;
}

.upload-btn img {
    width: 25px;
    height: 25px;
}

.lixeira-btn {
  padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 32px;
    text-align: center;
}

.lixeira-btn img {
    width: 22px;
    height: 22px;
}


#imagemPreview {
    max-width: 150px;
    max-height: 150px;
    width: 50%;
    height: auto;
    display: block;
    border-radius: 20px;
    border: 1px solid #010016;
    aspect-ratio: 1 / 1;
    object-fit: cover;   
}

.left {
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
}

.right {
    width: 50%;
    display: block;
    align-items: center;
    text-align: center;
    height: auto;
}

.form-alterar {
    display: flex;
}

.foto-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo-header {
  max-height: 20px;
  height: 20px;
  width: auto;
}

.logo-footer{
  max-height: 15px;
  height: 15px;
  width: auto;
}

.btn-voltar{
  height: 15px;
  width: 15px;
}

.icon-sair {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
}

.icon-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
}

.footer {
    background-color: #ffffff;
    display: block;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    gap: 20px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.footer-logo {
    height: 16px;
}

.footer-left p {
    font-weight: bold;
    color: #162144;
}

.footer-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #162144;
    font-weight: 400; 
}


.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}

/* Botão do menu só visível no mobile */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 750px) {
  .menu-toggle {
    display: block;
    z-index: 10;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 30px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 10;
  }

  nav.show {
    display: flex;
  }

  .right{
    width: 100%;
  }

  .left{
    width: 100%;
  } 
  
  .form-alterar{
    display: block;
  }

  .msg-status{
    width: 100%;
  }

  .footer-left{
    display: block;
  }

  .container{
    height: auto;
    z-index: 1;
  }
}

.logo-header {
  max-height: 20px;
  height: 20px;
  width: auto;
}

.logo-footer{
  max-height: 10px;
  width: auto;
}